.form-container {
  flex-direction: column;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #030303;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.form-select {
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #030303;
  border-radius: 5px;
  background-color: #e2dede;
}

.form-submit {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #006494;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
}

.form-link a {
  text-decoration: none;
  font-size: 16px;
  text-decoration: none;
  color: rgb(8, 8, 8);
}