.container {
  background-color: #6f10bd;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.login {
  height: 400px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 05%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 1px 3px 50px 1px rgb(102, 105, 105);
}

.error {
  padding: 10px 50px;
  font-size: 21px;
  background-color: #2e2b2be7;
  color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}