.container {
  background-color: #000000;
  height: 100%;
  width: 100%;
  display: flex;
}

.login {
  height: 400px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 03%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 1px 3px 50px 1px #43555e;
}

.swal2-container {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}