.container {
    font-family: Arial;
    display: block;
    width: 90%;
    height: 100%;
}

.slider {
    max-width: 50%;
    height: 300px;
    background-color: #e2dede;
    display: block;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info {
    font-weight: bold;

    padding: 1em;
    display: block;
    border-radius: 5px;
    background-color: #e2dede;
}

.info.descricao {
    height: 150px;
    overflow: auto;
}

.feedback {
    margin-top: 1em;
    padding: 1em;
    display: block;
    border-radius: 5px;
    background-color: #e2dede;
}
