.container {
    font-family: Arial;
    display: block;
    width: 70%;
    height: 100%;
    background-color: #dfeaee;
}

.slider {
    max-width: 50%;
    height: 350px;
    background-color: #ffffff;
    display: block;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info {
    font-weight: bold;
    padding: 1em;
    display: block;
    border-radius: 5px;
    background-color: #ffffff;
}

.info.descricao {
    height: 150px;
    overflow: auto;
    background-color: #ffffff;
}

.feedback {
    margin-top: 1em;
    padding: 1em;
    display: block;
    border-radius: 5px;
    background-color: #ffffff;
}
