.centralizado1 {
  margin-top: 6%;
}

.botoes {
  margin-left: 5%;
}

button {
  background-color: #006494;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 1%;
}

button:hover {
  background-color: #023d58;
}