.container1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container2 {
  width: 70%;
  margin-top: 90px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin-left: 15%;
}

.container3 {
  padding: 2px;
}

.info-section {
  margin-bottom: 40px;
}

.info-section p {
  font-size: 16px;
}

.container4 {
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 15%;
}

.buttonVoltar,
.buttonSalvar {
  padding: 2px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-decoration: none;
  width: 10%;
  height: 40px;
  background-color: rgb(219, 31, 31);
}

.buttonSalvar {
  margin-left: 1%;
}

.buttonVoltar:hover,
.buttonSalvar:hover {
  background-color: #1a1919;
}