.containerContrato {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.contrato {
    width: 70%;
    margin: 30px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }
  
  .content {
    padding: 5px;
  }
  
  .info-section {
    margin-bottom: 40px;
  }
  
  .info-section p {
    font-size: 16px;
  }

  .containerContrato button {
    font-size: 30px;
    background-color: rgb(74, 74, 85);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-top: 1px;
    width: 25%;
    height: 55px;
    transition: transform 0.3s, background-color 0.3s;
  }

  .containerContrato button:hover {
    transform: scale(1.1);
    background-color: #1a1919;
  }

  .exitPassword {
    margin-top: 30px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(8, 8, 8);
  }
  