.dashboard {
    background-color: rgba(74, 74, 85, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.dashboard a {
    color: #ffffff;
    height: 35px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 30px;
}