.dashboard {
    background-color: rgb(51, 51, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.dashboard button {
    background-color: rgb(51, 51, 56);
    color: #ffffff;
    height: 35px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-decoration: none;
    border: none;
    font-size: 30px;
    transition: transform 0.2s, background-color 0.5s;
}

.dashboard button:hover {
    transform: scale(1.2);
}