.register {
  width: 100%;
  width: 100%;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  width: 70%;
  margin-left: 15%;
}

.loginBox, .senhaBox, .nomeBox, .emailBox, .telefoneBox, .cidadeBox {
  flex: 0 0 calc(33.333% - 10px);
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-size: 20px;
}


.register input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid #534e53;
  border-radius: 5px;
  font-size: 16px;
}
.register button {
  padding: 10px;
  transition: transform 0.3s;
  font-size: 30px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-decoration: none;
  margin-top: 9px;
  width: 250px;
  height: 55px;
  background-color: rgb(38, 38, 43);
}

.register button:hover {
  transform: scale(1.1);
  background-color: #1a1919;
}


.register input[type="checkbox"] {
  appearance: none;
  width: 20px;
  border: 2px solid #181618;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: aliceblue;
}

.register input[type="checkbox"]:checked {
  background-color: #2e312e;
} 

.register input::placeholder {
  font-size: 18px;  
  text-align: start;
}

.loginBox p, .senhaBox p, .nomeBox p, .emailBox p, .telefoneBox p, .cidadeBox p{
  font-family: Arial, sans-serif;
  text-align: start;
  margin-bottom: 5px;
  color: rgb(5, 5, 5);
}