.register {
  width: 100%;
  height: 100%;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin-left: 15%;
}

.loginBox,
.senhaBox,
.nomeBox,
.emailBox,
.telefoneBox,
.cidadeBox {
  flex: 0 0 calc(33.333% - 10px);
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.register input {
  width: 100%;
  padding: 8px;
  border: 3px solid #534e53;
  border-radius: 5px;
  font-size: 16px;
}

.register button[type="submit"] {
  font-size: 30px;
  background-color: rgb(47, 47, 49);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-decoration: none;
  margin-top: 9px;
  width: 20%;
  height: 55px;
}

.register button[type="submit"]:hover {
  background-color: #1a1919;
}

.register input[type="checkbox"] {
  width: 20px;
  height: 15px;
  border: 2px solid #181618;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: aliceblue;
}

.register input[type="checkbox"]:checked {
  background-color: #2e312e;
}

.register input::placeholder {
  font-size: 16px;
  text-align: start;
}

.loginBox p,
.senhaBox p,
.nomeBox p,
.emailBox p,
.telefoneBox p,
.cidadeBox p {
  font-family: Arial;
  text-align: start;
  margin-bottom: 1px;
  color: rgb(5, 5, 5);
}

.exitPassword {
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: rgb(22, 22, 22);
  display: flex;
}

.senhaBox,
.cidadeBox {
  position: relative;
}

.passwordVisibilityButton1 {
  position: absolute;
  right: 1%;
  top: 71%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
}