/* Estilo para a modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.modal-content h2 {
    text-align: center;
}


.close {
    color: #000000;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-content h2 {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-content label {
    font-family: Arial, Helvetica, sans-serif;
}


.modal-content button {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px; 
    background-color: rgb(219, 31, 31);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 35%;
}

.modal-content button:last-child {
    margin-right: 0;
}

.modal-content button:hover {
    background-color: #45a049;
}

