.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}

.menu-container button {
    font-size: 45px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-decoration: none;
    width: 250px;
    height: 150px;
    background-color: rgb(74, 74, 85);
    margin: 30px;
    transition: transform 0.3s, background-color 0.3s;
}

.menu-container button:hover {
    transform: scale(1.2);
    background-color: #1a1919;
}